<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TODO Création d'un bean Guitar -->
    <bean id="gibson" class="org.esgi.Guitar"/>
    <!-- TODO Création d'un bean Piano -->
    <bean id="pleyel" class="org.esgi.Piano"/>

    <!-- TODO Création d'un bean Paul -->
    <bean id="paul" class="org.esgi.Artist" >
        <constructor-arg name="instrument" ref="gibson"/>
    </bean>


    <!-- TODO Création d'un bean John -->
    <bean id="john" class="org.esgi.Artist" >
        <constructor-arg name="instrument" ref="pleyel"/>
    </bean>

</beans>